<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openmate.frmwrk.report.dao.ReportMapper">

     
    <!-- example -->
    <select id="getTestList" parameterType="java.util.Map" resultType="map">
		SELECT SHIPPEDDATE,
					SHIPCOUNTRY,
					REQUIREDDATE,
					CUSTOMERID,
					ORDERID,
					SHIPNAME,
					SHIPVIA,
					SHIPPOSTALCODE,
					ORDERDATE,
					SHIPCITY,
					SHIPADDRESS,
					EMPLOYEEID,
					SHIPREGION,
					FREIGHT
		  FROM Orders 
		 WHERE OrderID <![CDATA[<=]]> 12500 
		 ORDER BY ShipCountry
    </select>
    
	<select id="getTestList1" parameterType="java.util.Map" resultType="map">
		SELECT SHIPPEDDATE,
					SHIPCOUNTRY,
					REQUIREDDATE,
					CUSTOMERID,
					ORDERID,
					SHIPNAME,
					SHIPVIA,
					SHIPPOSTALCODE,
					ORDERDATE,
					SHIPCITY,
					SHIPADDRESS,
					EMPLOYEEID,
					SHIPREGION,
					FREIGHT
		  FROM Orders 
		 WHERE OrderID <![CDATA[<=]]> 12500 
		      AND ShippedDate IS NOT NULL 
		  ORDER BY ShipCountry
    </select>
    
 	<select id="getTestList2" parameterType="java.util.Map" resultType="map">
		SELECT SERIES,
		            TASK,
		            SUBTASK,
		            STARTTIMESTAMP,
		            ENDTIMESTAMP,
		            PERCENT
		   FROM Tasks 
    ORDER BY Task, Subtask
    </select>   
    
                           
</mapper>